<form [formGroup]="productsForm" (ngSubmit)="onSubmit()">
  
<br>
  <div class="row">
    <div class="col-3">
        <input id="txtPartNumber" type="text" [formControl]="searchPartNumber" placeholder="Part Number" class="form-control" >
    </div>
    <div class="col-3">
     <input id="txtTitle" type="text" [formControl]="searchTitle" placeholder="Title" class="form-control">
    </div>
    <div class="col-3">
       <select [formControl]="frmLanguage" class="form-select">
        <option value="">Choose Language</option>
        <option *ngFor="let language of languages"  [value]="language">{{language}}</option>
    </select>
    </div>
    <div class="col-3">
       <select [formControl]="frmPortfolio" class="form-select">
        <option value="">Choose Product</option>
        <option *ngFor="let prod of portfolios" [value]="prod">{{prod}}</option>
    </select>
    </div>
    <!-- <div class="col-2">     
      <br><br>
      <button type="submit" class="btn-primary">Clear Filter</button>
    </div> -->
  </div>

<br>
    <div  class="container-fluid">
              
      <div *ngIf="isProducts">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>Part Number </th>
              <th>Last Update</th>
              <th>Title </th>
              <th>Language </th>
              <th>Products</th>
            <!--  <th>File</th>  -->
              <!-- <th>File</th>    -->
              <th></th>  
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of userProducts |filter:this.searchTitle.value | filter:this.searchPartNumber.value | filter:this.frmLanguage.value | filter:this.frmPortfolio.value | paginate 
            : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index">
              <td>{{product.title}}</td>
              <td>{{product.publishDate | date:"dd-MMM-yyyy" }}</td>
              <td><div>{{product.description}}</div></td>
            <td>{{product.language}}</td>
            <td><div>{{product.products}}</div></td>
          <!--  <td>  <a href="#" (click)="download2(product.objectId,product.description)" class="btn btn-primary" >Download</a> </td>   -->    
            <!-- <td><button (click)="download(product.objectId,product.description)" class="btn btn-primary" >Download</button></td>    -->
          <td>
            <button type="button" class="btn btn-primary btn-sm" (click)="openDoc('./assets/'+decodehtml(product.description)+'_'+decodehtml(product.title)+'.pdf', product.description)">
              View
          </button>
          </td> 
          <td>
            <button type="button" class="btn btn-success btn-sm" (click)="downloadPdf('./assets/'+decodehtml(product.description)+'_'+decodehtml(product.title)+'.pdf', product.description)">
              Download
          </button>
          </td>
          </tr>
          </tbody>
        </table>
      
      </div>

      <div class="d-flex justify-content-center">
        <div *ngIf="isProducts">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
        </div>
      </div>
    </div>

  </form>
