<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

</style>


<!-- Toolbar -->

<div class="content" role="main">

  <div class="file">
		<p>{{ slides.name }}</p>
		<button (click)="download(slides)" mat-raised-button color="primary">Download</button>
	</div>
   <app-emsproduct></app-emsproduct>
   <!-- <app-emsapicall></app-emsapicall> -->

    
</div>

<mat-card>
	<div class="file">
		<p>{{ slides.name }}</p>
		<button (click)="download(slides2)" mat-raised-button color="primary">Download</button>
	</div>
	<mat-progress-bar *ngIf="download$ | async as download"
		[mode]="download.state == 'PENDING' ? 'buffer' : 'determinate'" 
    [value]="download.progress">
	</mat-progress-bar>
</mat-card>



